---
layout: default
---
<!-- 

Nothing here except a safety pig
                         _
 _._ _..._ .-',     _.._(`))
'-. `     '  /-._.-'    ',/
   )         \            '.
  / _    _    |             \
 |  a    a    /              |
 \   .-.                     ;  
  '-('' ).-'       ,'       ;
     '-;           |      .'
        \           \    /
        | 7  .__  _.-\   \
        | |  |  ``/  /`  /
       /,_|  |   /,_/   /
          /,_/      '`-'

-->
<div class="home">
    {% include picture.html %}
    
    {% include aboutme.html %}

    <div class="home-research"><!-- ugly hack -->

	<h2 class="page-heading">Teaching</h2>
		<p> I am currently teaching MATH 2250 – Calculus I for Science and Engineering.
    	</p>

    <h2 class="page-heading">Research</h2>
        <p>
             My research papers by type:
           <!--  click on the titles to see abstracts and get the 
             full text.  You can also see a -->
            <!-- <a href="/coauthors/">list of my coauthors</a>.  Jump to:-->
             <a href="#journal-papers">journal papers</a>; 
           <!--  <a href="#conference-papers">conference papers</a>; -->
             <a href="#preprints"> preprints</a>.
         </p>

      {% include journalpapers.html %}
  
     <!-- {% include conferencepapers.html %}-->
  
      {% include preprints.html %}
    </div>
</div>