<div class="home-page-picture">
    <img alt="Picture!" class="picture" src="/assets/picture.jpg">
    <div class="info">
        <div class="name">Wöden Kusner</div>
       <div class="job">Postdoctoral Researcher</div>
        <div class="workplace">
            <a href="http://finanz.math.tugraz.at/">Institute for Analysis and Computational Number Theory</a> <!--and 
            <a href="http://workplace/">Dept 1</a>-->
        </div>
        <div class="employer">
            <a href="http://www.tugraz.at/">Technische Universität Graz</a>
        </div>
    </div>
</div>