<div class="home-page-picture">
    <img 
    alt="Picture!" class="picture" src="/assets/picture.jpg"
    onmouseover="this.src='/assets/picturealt.jpg'"
    onmouseout="this.src='/assets/picture.jpg'" 
    >
    <div class="info">
        <div class="name">Wöden Kusner</div>
       <div class="job">Assistant Professor (NTT)</div>
        <div class="workplace">
        <a >Department of Mathematics</a>
          <!--  <a href="http://as.vanderbilt.edu/math/">Department of Mathematics</a>-->
          <!--and 
            <a href="http://workplace/">Dept 1</a>-->
        </div>
        <div class="employer">
            <a href="https://www.uga.edu/">University of Georgia</a>
        </div>
    </div>
   <!-- <body background='/assets/bpic.jpg'"
    "> -->
    
</div>