<div class="home-page-picture">
    <img 
    alt="Picture!" class="picture" src="/assets/picture.jpg"
    onmouseover="this.src='/assets/picturealt.jpg'"
    onmouseout="this.src='/assets/picture.jpg'" 
    >
    <div class="info">
        <div class="name">Wöden Kusner</div>
       <div class="job">Assistant Professor (NTT) [AY '17-20]</div>
        <div class="workplace">
            <a href="http://finanz.math.tugraz.at/">Department of Mathematics</a> <!--and 
            <a href="http://workplace/">Dept 1</a>-->
        </div>
        <div class="employer">
            <a href="http://www.tugraz.at/">Vanderbilt University</a>
        </div>
    </div>
   <!-- <body background='/assets/bpic.jpg'"
    "> -->
    
</div>